<head>
  <meta http-equiv="content-type" content="text/html; charset=utf-8">
  <!-- Enable responsiveness on mobile devices-->
  <meta name="viewport" content="width=device-width, initial-scale=1.0, maximum-scale=1">

  <title>
    {% if page.title == "Home" %}
      {{ site.title }} &middot; {{ site.tagline }}
    {% else %}
      {{ page.title }} &middot; {{ site.title }}
    {% endif %}
  </title>

  <!-- CSS -->
  <link rel="stylesheet" href="{{ '/source/css/reset.css' | prepend: site.baseurl }}"> 
  <link rel="stylesheet" href="{{ '/source/css/common.css' | prepend: site.baseurl }}"> 
  <link rel="stylesheet" href="{{ '/source/css/header.css' | prepend: site.baseurl }}">   
  <link rel="stylesheet" href="{{ '/source/css/listPage.css' | prepend: site.baseurl }}"> 
  <link rel="stylesheet" href="{{ '/source/css/detailPage.css' | prepend: site.baseurl }}"> 
  <link rel="shortcut icon" href="{{ '/source/favicon.ico' | prepend: site.baseurl }}"> 

  <!-- 百度统计start -->
  <script>
    var _hmt = _hmt || [];
    (function() {
      var hm = document.createElement("script");
      hm.src = "https://hm.baidu.com/hm.js?46ed39b29c409240d50904c92ba4f41b";
      var s = document.getElementsByTagName("script")[0]; 
      s.parentNode.insertBefore(hm, s);
    })();
  </script>
  <!-- 百度统计end -->
</head>
