<header class="header">
  <a class="site-title" href="{{ site.baseurl }}">土豆骗子的日记本333</a>
  <p class="person-intro">不要问我为什么叫土豆骗子，也许是因为我很爱吃土豆片子。</p>
  <div class="cy-links">
    <a target="_blank" href="https://github.com/cuiyinghh"><i class="iconfont links">&#xe601;</i></a>
    <a target="_blank" href="https://weibo.com/1774728725/profile?rightmod=1&wvr=6&mod=personinfo"><i class="iconfont links">&#xe614;</i></a>
    <a target="_blank" href="https://user.qzone.qq.com/971345565/main"><i class="iconfont links">&#xe611;</i></a>
    <a target="_blank" href="javascript: alert('这是土豆骗子每天都check的邮箱：cuiying@zuoyebang.com');"><i class="iconfont links">&#xe62b;</i></a>    
  </div>
</header>
