<header class="header">
  <h2 class="site-title">土豆骗子的日记本</h2>
  <p class="person-intro">不要问我为什么叫土豆骗子，也许是因为我很爱吃土豆片子。</p>
  <div class="cy-links">
    <a target="_blank" href="https://github.com/cuiyinghh"><i class="iconfont">&#xe601;</i></a>
    <a target="_blank" href="https://weibo.com/1774728725/profile?rightmod=1&wvr=6&mod=personinfo"><i class="iconfont">&#xe614;</i></a>
    <a target="_blank" href="#"><i class="iconfont">&#xe611;</i></a>
    <a target="_blank" href="#"><i class="iconfont">&#xe62b;</i></a>    
  </div>
</header>