.post-title {
  line-height: 200%;
  font-size: 24px;
}

.time-place {
  margin-bottom: 32px;
  color: #aaa;
  font-size: 12px;
}

.post-content p {
  margin: 14px 0;
  line-height: 150%;
}

.post-content h1 {
  font-size: 22px;
  
}

.post-content h2 {
  font-size: 20px;
  
}

.post-content h3 {
  font-size: 18px;
  
}

.post-content h4 {
  font-size: 16px;
}